AI ADS Workflow.json
{
  "name": "Bilddesign",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Produktbild",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Text im Bild",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -540,
        -400
      ],
      "id": "e07eba64-4384-4a07-aa0d-8e3d8094b2ad",
      "name": "On form submission",
      "webhookId": "91a3add1-c195-4ee5-80c1-abc782711f4b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.Prompt }} Make sure product is centered. Put In Bold 3d text below the product  with {{ $('Get row(s) in sheet').item.json['Text Theme'] }} theme the words \"{{ $('On form submission').item.json['Text im Bild'] }}\""
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "size",
              "value": "1024x1536"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -80
      ],
      "id": "86c81788-fd79-42fa-995f-ef667d0e97bf",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "20UJvv6oCUUihhKg",
          "name": "Header Auth account"
        },
        "openAiApi": {
          "id": "STODRm71HyYOPLCv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload?key=e0ae57909df9c8e3d6b33106ca073d40",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Produktbild"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -400
      ],
      "id": "fd70b21f-2a7f-4c60-84c4-385e3d9c12d5",
      "name": "Upload Image"
    },
    {
      "parameters": {
        "url": "={{ $('Upload Image').item.json.data.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -140
      ],
      "id": "0a1b5fed-c332-42e4-b57f-335e9ccbe928",
      "name": "Get IMAGE"
    },
    {
      "parameters": {
        "jsCode": "return $json[\"data\"].map((item, index) => ({\n  binary: {\n    [`image_${index + 1}`]: {\n      data: Buffer.from(item.b64_json, 'base64'),\n      mimeType: 'image/png',\n      fileName: `image_${index + 1}.png`,\n    }\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        20
      ],
      "id": "924fc066-8f78-4dd2-be17-c4e053b1f760",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        -160
      ],
      "id": "cf744414-ad3e-4120-a4cf-bd5e0ddca3c7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "915e18f3-dfd2-46c4-bbdb-688bc1721cf5",
              "leftValue": "=1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        180
      ],
      "id": "18756ed0-500a-4bb2-8a4c-6429c26bffa6",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BNM159n5VFAd3pSTb2eF47dnUwz5_JtJ64m1qnK2Grk",
          "mode": "list",
          "cachedResultName": "Bildgenerierung",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNM159n5VFAd3pSTb2eF47dnUwz5_JtJ64m1qnK2Grk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BNM159n5VFAd3pSTb2eF47dnUwz5_JtJ64m1qnK2Grk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        -400
      ],
      "id": "d9f8f3ae-c698-4a4c-9c9d-83508fd38a84",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1VLz9gmHZIOJXIWM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "YOURCHATID",
        "binaryData": true,
        "binaryPropertyName": "image_1",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        60
      ],
      "id": "90807335-e427-4bd3-a363-5a57761d0426",
      "name": "Send a document",
      "webhookId": "2fa3e7fc-3c76-44bd-af96-d2d3998c0d37"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IMAGE": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get IMAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a document": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a57b78e2-0dc5-4092-a81d-4561088a503d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bec8c5cfd29a9d39ababc02e1ffc6edaf3adddc7839c2be8ad7a51ea44d5658f"
  },
  "id": "1kQXpvJPH2jEfPy9",
  "tags": []
}