Generate Application Copy.json
{
  "name": "Generate Application Copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1060,
        -240
      ],
      "id": "8ab549fd-e3f0-4541-a929-81f51d158bef",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent Upwork application writer.",
              "role": "system"
            },
            {
              "content": "=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output a customized proposal.\n\nHigh-performing proposals are typically templated as follows:\n\n```\nHi, I do {thing} all the time. Am so confident I'm the right fit for you that I just created a workflow diagram + a demo of your {thing} in no-code: $$$\n\nAbout me: I'm a {relevantJobDescription} that has done {coolRelevantThing}. Of note, {otherCoolTieIn}.\n\nHappy to do this for you anytime—just respond to this proposal (else I don't get a chat window). \n\nThank you!\n```\n\nOutput your results in JSON using this format:\n\n{\"proposal\":\"Your proposal\"}\n\nRules:\n- $$$ is what we're using to replace links later on, so leave that untouched.\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it after \"Hi\"\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"
            },
            {
              "content": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1500,
        -240
      ],
      "id": "e2dd5838-d180-4540-bc93-d5dc02d41860",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "STODRm71HyYOPLCv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e980c92c-07d9-400e-b40c-a8fbdbe8bbcb",
              "name": "aboutMe",
              "value": "I'm an AI and automation freelancer who builds outreach systems, CRM systems, project management systems, no-code systems, and integrations- Some notable things I've done:- End-to-end project management for a $1M/year copywriting agency- Outbound acquisition system that grew a content company from $10K/mo to $92K/mo in 12 mo - GDPR Compliant automations for several small and medium sized companies in Germany and Austria, generating them a lot of money, ressources and time.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -240
      ],
      "id": "be035c79-0854-4112-9d6a-4127f0bda7c4",
      "name": "Set Variable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "468a03c7-1537-435a-9f98-ce7c58a51c8b",
              "name": "response",
              "value": "={{ $json.message.content.proposal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        -240
      ],
      "id": "cab121d7-10f7-438e-ae68-24b0f7eb4bc1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37e214a6-0d48-4a35-b14c-f59934590310",
  "meta": {
    "instanceId": "bec8c5cfd29a9d39ababc02e1ffc6edaf3adddc7839c2be8ad7a51ea44d5658f"
  },
  "id": "PwYAUOYzEZAYyNO4",
  "tags": []
}